.card-header {
  background-color: lightblue !important;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  width: auto;
  margin: 0 auto;
  max-width: 650px;
}

@media only screen and (max-width: 596px) {
  .socialDiv {
    display: contents;
  }
}
