.main-view {
    margin: 0 auto 80px;
}
.toasty .Toastify__progress-bar--error{
    background-color: white;
}

.toasty .Toastify__toast{
    border: 3px solid blue;
    border-radius: 10px;
}

.toasty .Toastify__toast-body{
    text-align: center;    
}