.twitter-tweet {
    max-height: 50px;
    transition: max-height 1.2s;
    overflow: hidden;
}

.twitter-tweet:hover {
    max-height: 480px;
}

.mainlogo {
    animation: main-logo-spin infinite 3s linear;
    margin: 2rem;
}

@keyframes main-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}